.stage {position: relative;}
.box {width: 100px; height: 100px; background-color: red; position: absolute;}
.box2 {width: 100px; height: 100px; background-color: red; position: absolute; 
	top: 150px;}