html, body {
	height: 100%; background: url(../img/bg.jpg) no-repeat center; background-size: cover;}
ul, ol, li {list-style: none; margin: 0; padding: 0;}

.wrap {height: 100%;}
.daily {background-color: rgba(0,0,0,0.5);}

.weekly {background-color: rgba(0,0,0,0.4);}
.weekly-item {background-color: rgba(0,0,0,0.2);}