.banner {position:relative; overflow: hidden;}

.slides {position:relative;}
.slides > .slide {position: absolute; width: 100%; top: 0;}

.slides2 {position:relative;}
.slides2 > .slide {position: absolute; width: 100%; top: 0;}
